#======================SETTINGS=====================================

# verify the following settings before each transfer

# this variable will define if the request will be run as a test (dry-run) or a request will be actually submitted to Globus.
# set to 1 to run an actual submission of the request(s); any other value set to this variable will run as dry-run (wihtout actual execution)
PROD_RUN=0

#custom name of the transfer to make it easier to find it in the Activity section of the Globus site
transfer_name="" #Transfer_20201221_set2 

# keep "transfer_request_file" variable blank, if all files from the "globus_transfer_dir" have to be processed
transfer_request_file=/ext_data/shared/.apps/globus_transfers/20201223_140055_princenton_globus_batch_20201221_set1.txt #"" #/ext_data/shared/.apps/globus_transfers/transfer_requests/princenton_globus_batch_20201221_set2.txt #path of the batch file to be used for the current run
# map that will be used to pickup files from "globus_transfer_dir" folder, if "transfer_request_file" variable was set blank
SRCH_MAP="*.txt"


# Destination path prefix. Can be used to add a common path component to all destination pathes. 
# In order to be used, the name of this variable should be used in the batch file (in the destination path column, the 2nd one) 
# The following is an example of a row from the batch file utilizing the destination path prefix (value of the dest_pref_find_str variable). All such prefixes will be replaced with the value of the dest_pref_val variable.
# /ext_data/shared/ECHO/MRSA/DU/PBMC/scatacseq/DU19-01S0003978_2 &dest_pref&/MRSA/DU/PBMC/scatacseq/DU19-01S0003978_2 -r

dest_pref_find_str="&dest_pref&"
dest_pref_val="/ECHO/20201221"

# List of known endpoint ids
# a2cc0b26-46aa-11ea-b967-0e16720bb42f #linuxboxg Stas' endpoint to Globus
# 24a98536-4202-11ea-9712-021304b0cca7 #Princeton lSI DTN endpoint

# Destination endpoint id
dest_ep=24a98536-4202-11ea-9712-021304b0cca7 #Princeton lSI DTN endpoint 
# local (source) endpoint id
source_ep=a2cc0b26-46aa-11ea-b967-0e16720bb42f

#=====================Local System settings ==============================

# working directories
# script directory 
globus_wrk_dir=/ext_data/shared/.apps/globus_transfers
# transfer requests directory 
globus_transfer_dir=/ext_data/shared/.apps/globus_transfers/transfer_requests
# processed requests directory 
globus_transfer_processed_dir=$globus_transfer_dir/"processed"

# Globus installation virtual directory, used to start the CLI 
globus_virtual_dir="$HOME/.globus-cli-virtualenv"

# command to start specified Globus endpoint
start_local_endpoint="/home/stas/globusconnectpersonal-2.3.8/globusconnectpersonal -start -restrict-paths rw/ext_data/shared/ECHO,rw/data/stas,rw/home/stas &" 